<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard: Freelance Dolphin</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/dialog.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/sideHeader.css">
    <link rel="stylesheet" href="/stylesheets/dashboardJobsList.css">
    <link rel="stylesheet" href="/stylesheets/dashboardJobsView.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script defer data-domain="dolphin.directory" src="https://plausible.io/js/script.js"></script>
</head>
<body>
    <div id="content">
        <div id="bottomHalf">

            <div id="leftBottomHalf">
                <button id="leftBottomHalfDrawer" class="responsiveDrawer lightBorder">&rsaquo;</button>
                <%- include('partials/sideHeader.ejs') %>
            </div>

            <div id="centerBottomHalf">
                <%- include('partials/dashboardJobsList.ejs') %>

            </div>

            <div id="rightBottomHalf">
                <button id="rightBottomHalfDrawer" class="responsiveDrawer lightBorder">&lsaquo;</button>
                <%- include('partials/dashboardJobsView.ejs') %>
            </div>
            
        </div>
    </div>
    <%- include('partials/dialog.ejs') %>

    <script>
        window.pageData = <%- JSON.stringify(data) %>;
    </script>

    <!-- scripts -->
    <script src="/scripts/dialog.js"></script>
    <script src="/scripts/responsive.js"></script>
    <script src="/scripts/loggedIn.js"></script>
    <script src="/scripts/dashboardJobsList.js"></script>
    <script src="/scripts/dashboardJobsView.js"></script>
</body>
</html>