<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs: Freelance Dolphin</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/topHeader.css">
    <link rel="stylesheet" href="/stylesheets/dialog.css">
    <link rel="stylesheet" href="/stylesheets/listings.css">
    <link rel="stylesheet" href="/stylesheets/jobList.css">
    <link rel="stylesheet" href="/stylesheets/jobView.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="content">
        <div id="topHalf">
            <%- include('partials/topHeader.ejs') %>
        </div>
        <div id="bottomHalf">

            <div id="leftBottomHalf">
                <button id="leftBottomHalfDrawer" class="responsiveDrawer lightBorder">&rsaquo;</button>
                <div id="filter" class="lightBorder">

                    <div class="setting">
                        <span class="settingTitle">Sort By</span>
                        <div class="settingControls">
                            <select id="sortBy" class="lightBorder">
                                <option value="newest">Most Recent</option>
                                <option value="oldest">Oldest</option>
                                <option value="mostPopular">Most Popular</option>
                            </select>
                        </div>
                    </div>

                    <div class="setting">
                        <span class="settingTitle">Quotes Range</span>
                        <div class="settingControls">
                            <div id="quotesFilterInputDiv">
                                <input type="text" id="quotesFilterMin" class="quotesFilterInput lightBorder" placeholder="Minimum">
                                <input type="text" id="quotesFilterMax" class="quotesFilterInput lightBorder" placeholder="Maximum">
                            </div>
                        </div>
                    </div>

                    <div class="setting">
                        <span class="settingTitle">Skills</span>
                        <div class="settingControls">
                            <div id="skillsDiv" class="lightBorder">
                            </div>
                        </div>
                    </div>

                    <button id="applyFilterBtn" class="themedBtn">Apply</button>
                </div>
            </div>

            <div id="centerBottomHalf">
                <div id="jobSection">
                    <div id="searchDiv">
                        <input type="text" id="jobSearch" placeholder="Search" class="lightBorder">
                        <button id="searchBtn" class="lightBorder">Search</button>
                    </div>
                    
                    <%- include('partials/jobList.ejs') %>
                </div>
            </div>

            <div id="rightBottomHalf">
                <button id="rightBottomHalfDrawer" class="responsiveDrawer lightBorder">&lsaquo;</button>
                <%- include('partials/jobView.ejs') %>
            </div>
            
        </div>
    </div>
    <%- include('partials/dialog.ejs') %>

    <script>
        window.pageData = <%- JSON.stringify(data) %>;
    </script>

    <!-- scripts -->
    <script src="/scripts/dialog.js"></script>
    <script src="/scripts/responsive.js"></script>
    <script src="/scripts/loggedIn.js"></script>
    <script src="/scripts/jobList.js"></script>
    <script src="/scripts/jobView.js"></script>
    <script src="/scripts/listings.js"></script>
</body>
</html>