<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile: Freelance Dolphin</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/topHeader.css">
    <link rel="stylesheet" href="/stylesheets/dialog.css">
    <link rel="stylesheet" href="/stylesheets/jobList.css">
    <link rel="stylesheet" href="/stylesheets/jobView.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/review.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script defer data-domain="dolphin.directory" src="https://plausible.io/js/script.js"></script>
    <link rel= “manifest” href= “manifest.json” />
</head>
<body>
    <div id="content">
        <div id="topHalf">
            <%- include('partials/topHeader.ejs') %>
        </div>
        <div id="bottomHalf">

            <div id="leftBottomHalf">
                <button id="leftBottomHalfDrawer" class="responsiveDrawer lightBorder">&rsaquo;</button>
                <div id="profileDiv" class="lightBorder">
                    <div id="profileSettings">
                        <span id="profileType"><%= data.user.UserType %></span>
                        <button id="profileBtn" onclick="generateDialog('profileSettings')"><img src="/assets/dots.svg"></button>
                    </div>
                    <div id="profileInfoDiv">
                        <img id="profileImg" src="<%= data.user.ProfilePicURL %>" alt="">
                        <span id="profileName"><%= data.user.FullName %></span>
                    </div>
                    <div id="profileBioDiv" class="lightBorder">
                        <span id="profileBioTitle">Bio</span>
                        <span id="profileBio"><%= data.user.Bio %></span>
                    </div>
                    <div id="profileSkillsDiv" class="lightBorder">
                        <span id="profileSkillsTitle">Skills and Expertise</span>
                        <div id="profileSkills">
                            <% data.user.skills.forEach(function(skill) { %>
                                <span class="profileSkill lightBorder"><%= skill.skillName %></span>
                            <% }); %>
                        </div>
                        <% if (data.socials.Youtube) { %>
                        <div id="socialsDiv">
                            <% if (data.socials.Youtube.URL) { %>
                                <a href="<%= data.socials.Youtube.URL %>"><img src="/assets/youtube.svg"></a>
                            <% } %>
                            <% if (data.socials.Github.URL) { %>
                                <a href="<%= data.socials.Github.URL %>"><img src="/assets/github.svg"></a>
                            <% } %>
                            <% if (data.socials.Instagram.URL) { %>
                                <a href="<%= data.socials.Instagram.URL %>"><img src="/assets/instagram.svg"></a>
                            <% } %>
                            <% if (data.socials.Twitter.URL) { %>
                                <a href="<%= data.socials.Twitter.URL %>"><img src="/assets/twitter.svg"></a>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>

            <div id="centerBottomHalf">
                <div id="jobSection">
                    <span id="jobListTitle">
                        <%= data.user.UserType === "freelancer" ? "Worked On" : "Created Jobs" %>
                      </span>
                    <%- include('partials/jobList.ejs') %>
                </div>
            </div>

            <div id="rightBottomHalf">
                <button id="rightBottomHalfDrawer" class="responsiveDrawer lightBorder">&lsaquo;</button>
                <div id="jobViewAndReviewDiv">
                    <%- include('partials/jobView.ejs') %>
                    <%- include('partials/review.ejs') %>
                </div>
            </div>
            
        </div>
    </div>
    <%- include('partials/dialog.ejs') %>

    <script>
        window.pageData = <%- JSON.stringify(data) %>;
    </script>

    <!-- scripts -->
    <script src="/scripts/dialog.js"></script>
    <script src="/scripts/responsive.js"></script>
    <script src="/scripts/loggedIn.js"></script>
    <script src="/scripts/review.js"></script>
    <script src="/scripts/jobList.js"></script>
    <script src="/scripts/jobView.js"></script>
    <script src="/scripts/profile.js"></script>
</body>
</html>